# Don't commit the contents of these folders
output/
**/simple_vae/data/**
**/rollout_pong/**

**/*rollout*/**
**/images*/**


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*~
*.swp
.vscode/
**/data/frames/**
**/data/actions/**
**/images/**
*.h5
*.jpg
*.gif
